<%#= javascript_include_tag 'https://raw.githubusercontent.com/jguthrie100/bic_calendar_full/master/js/bic_calendar.js' %>

<div id="calendar"></div>

<div id="new_snapshot_pane" style="display:none">
<%= form_tag(tenant_tenant_snapshots_path(@tenant)) do %>
  <table class="table table-hover table-condensed table-striped">
    <tbody>
      <tr>
        <td>Property: </td>
        <td><%= collection_select(:tenant_snapshot, :property_id, Property.all, :id, :name, {:selected => Property.first}, class: "form-control") %></td>
      </tr>
      <tr>
        <td>Start date: </td>
        <td><%= text_field(:tenant_snapshot, :start_date, class: "form-control", :readonly => "readonly") %></td>
      </tr>
      <tr>
        <td>End Date: </td>
        <td><%= text_field(:tenant_snapshot, :end_date, class: "form-control", :readonly => "readonly") %></td>
      </tr>
      <tr>
        <td>Weekly Rent <span style="font-size:12px;">(NZD$)</span>: </td>
        <td><%= number_field(:tenant_snapshot, :weekly_rent, step: 5, class: "form-control") %></td>
      </tr>
      <tr>
        <td>Rent Frequency <span style="font-size:12px;">(payment made every <em>x</em> weeks)</span>: </td>
        <td><%= number_field(:tenant_snapshot, :rent_frequency, in: 1..20, step: 1, class: "form-control") %></td>
      </tr>
      <tr>
        <td>Rent paid by: </td>
        <td><%= collection_select(:tenant_snapshot, :rent_paid_by, Tenant.all, :id, :name, {:selected => params[:id]}, class: "form-control") %></td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag("Create New Snapshot", class: "btn btn-default") %></td>
      </tr>
    </tbody>
  </table>
<% end %>
</div>

<script>

var events = [];

<% @payments.each do |p| %>
  var event = {
    date: "<%= p.date %>",
    type: "rent_payment",
    title: "rent_payment-<%= p.id %>",
    content: "<%= p.transaction_id + " - " + p.transaction_type + " - " + p.payee + " - " + p.memo + " - " + p.amount_str %>",
    link: "<%= "/transactions/#transaction_row_#{p.id}" %>",
    amount: <%= p.amount %>,
  };
  events.push(event);
<% end %>

<% @tenant_snapshots.each do |t| %>
  var event = {
    date: "<%= t.start_date %>",
    date_to: "<%= t.end_date %>",
    type: "snapshot",
    title: "snapshot-<%= t.id %>",
    color: "#ffff00",
  };
  events.push(event);
<% end %>

  $(document).on('turbolinks:load', function() {
    $('#calendar').bic_calendar({
      //list of events in array
      events: events,
      //enable select
      enableSelect: true,
      //enable multi-select
      multiSelect: true,
      //set day names
    //  dayNames: dayNames,
      //set month names
    //  monthNames: monthNames,
      //show dayNames
      showDays: true,
      //set ajax call
  //    reqAjax: {
    //      type: 'get',
    //      url: 'http://bic.cat/bic_calendar/index.php'
    //  }
      //set popover options
      //popoverOptions: {}
      //set tooltip options
      //tooltipOptions: {}
    });
  });
</script>
