<h3 class="text-primary">List of Tenants</h3>
<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Payment Handle</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>House</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :tenant, :url => update_multiple_tenants_path, :method => "put" do |f| %>
      <% @tenants.each do |t| %>
        <%= fields_for "tenants[]", t do |tf| %>
          <tr id="tenant_row_<%= t.id %>" class="tenant_row" style="font-size: 11px">
            <td>
              <input id="checkbox_<%= t.id %>" class="checkbox" type="checkbox" onchange="toggle_edit(<%= t.id %>)" />
            </td>
            <td>
              <%= link_to(t.name, tenant_path(t), class: "display") %><br />
              <%= tf.text_field(:name, class: "edit", style: "visibility:hidden") %>
            </td>
            <td>
              <span class="display"><%= t.payment_handle %></span><br />
              <%= tf.text_field(:payment_handle, class: "edit", style: "visibility:hidden") %>
            </td>
            <td>
              <span class="display"><%= t.phone_num %></span><br />
              <%= tf.text_field(:phone_num, class: "edit", style: "visibility:hidden") %>
            </td>
            <td>
              <span class="display"><%= t.email %></span><br />
              <%= tf.text_field(:email, class: "edit", style: "visibility:hidden") %>
            </td>
            <td>
              <%= t.house.nil? ? "" : link_to(t.house.name, house_path(t.house), class: "display") %><br />
              <%= tf.collection_select(:house_id, House.all, :id, :name, { include_blank: true}, class: "edit", style: "visibility:hidden")
              %>
            </td>
            <td>
              <% is_updated_id = "tenants_" + t.id.to_s + "_is_updated" %>
              <%= tf.hidden_field(:is_updated, :value => 'false') %>
              <button id="save_btn_<%= t.id %>" class="btn btn-sm btn-default disabled" onclick="document.getElementById('<%= is_updated_id %>').value='true'" disabled>Save</button>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
        <%# Create final row with a form to add a new Tenant to the inventory %>
        <%= form_tag(tenants_path) do %>
          <% @tenant = nil %>
          <tr id="tenant_row_new" class="tenant_row" style="font-size: 11px">
            <td>
              <input id="checkbox_new" class="checkbox new_tenant" type="checkbox" onchange="toggle_edit('new')" />
            </td>
            <td>
              <%= text_field(:tenant, :name, disabled: "true", class: "new_tenant") %>
            </td>
            <td>
              <%= text_field(:tenant, :payment_handle, disabled: "true", class: "new_tenant") %>
            </td>
            <td>
              <%= text_field(:tenant, :phone_num, disabled: "true", class: "new_tenant") %>
            </td>
            <td>
              <%= text_field(:tenant, :email, disabled: "true", class: "new_tenant") %>
            </td>
            <td>
              <%= collection_select(:tenant, :house_id, House.all, :id, :name, {include_blank: true}, disabled: "true", class: "new_tenant") %>
            </td>
            <td>
              <button id="save_btn_new" class="btn btn-sm btn-default disabled new_tenant" disabled>Save</button>
            </td>
          </tr>
        <% end %>
  </tbody>
</table>

<script>
function toggle_edit(id) {
  if ( $("#checkbox_" + id).prop("checked") ) {
    // WHEN A ROW IS SELECTED..

    // Enable form fields if 'new Tenant' was selected
    if(id === "new") {
      $(".new_tenant").prop("disabled", false);
    }

    // Enable the Save button
    $("#save_btn_" + id).removeClass("disabled")
                        .addClass("btn-primary")
                        .prop("disabled", false);

    // Hide all the display fields and show all the edit field
    $(".display", "#tenant_row_" + id).css("visibility", "hidden");
    $(".edit", "#tenant_row_" + id).css("visibility", "visible");

    // Fade out the unselected rows and disable the checkboxes on them
    $(".tenant_row:not(#tenant_row_" + id + ")").css("opacity", "0.5");
    $(".checkbox:not(#checkbox_" + id + ")").prop("disabled", true);

  } else {
    // WHEN A ROW IS DESELECTED..

    // Disable form fields if deselected row was the 'new Tenant' row
    if(id === "new") {
      $(".new_tenant").prop("disabled", true);
    }

    // Disable save button
    $("#save_btn_" + id).addClass("disabled")
                        .removeClass("btn-primary")
                        .prop("disabled", true);

    // Hide all the edit fields and display the display fields
    $(".display", "#tenant_row_" + id).css("visibility", "visible");
    $(".edit", "#tenant_row_" + id).css("visibility", "hidden");

    // Fade all the rows back in and enable all the checkboxes
    $(".tenant_row").css("opacity", "1");
    $(".checkbox").prop("disabled", false);
  }
}
</script>