<h1 class="text-primary"><%= @tenant.name %></h1>

<%= render 'snapshot_calendar' %>

<h3 class="text-primary">Rental Periods&nbsp;&nbsp;
  <span style="font-size: 12px;">&bull; <%= link_to("Add new rental snapshot", new_tenant_tenant_snapshot_path(@tenant)) %></span>
</h3>

<% total_rent = 0 %>
<% @tenant_snapshots.each do |snapshot| %>
  <% total_rent += snapshot.total_rent_expected %>

<!-- snapshot <%= snapshot.id %> start -->
  <div class="snapshot" id="snapshot_<%= snapshot.id %>">
    <div class="snapshot_header">
      <b><%= snapshot.start_date.strftime('%a') %> <%= snapshot.start_date_str %> - <%= snapshot.end_date_str %></b>&nbsp;
      <i>(<%= snapshot.length_in_days %> days)</i>&nbsp;&nbsp;
      <small><a class="snapshot_content_button">[display]</a></small>
    </div>

    <p class="snapshot_content">
      Property: <b><%= snapshot.property.name %></b><br />
      Weekly Rent: <b><%= number_to_currency(snapshot.weekly_rent, :unit => "$") %></b><br />
      Total Rent Expected: <b><%= number_to_currency(snapshot.total_rent_expected, :unit => "$") %></b><br />
      Total Rent Paid: <b><%= number_to_currency(snapshot.total_rent_paid, :unit => "$") %></b>
    </p>
  </div>

  <script>$(".snapshot_content_button", "#snapshot_<%= snapshot.id %>").click(function() {toggle_info("snapshot", <%= snapshot.id %>)});</script>
<!-- snapshot <%= snapshot.id %> end -->

<% end %>

<h3 class="text-primary">Rental Payments</h3>

<% @payments.each do |payment| %>

<!-- payment <%= payment.id %> start -->
  <div class="payment" id="payment_<%= payment.id %>">
    <div class="payment_header">
      <%= payment.date.strftime('%a') %> <b><%= payment.date_str %></b>&nbsp;
      <i>(<%= payment.amount_str %>)</i>&nbsp;&nbsp;
      <small><a class="payment_content_button">[display]</a></small>
    </div>

    <p class="payment_content">
      &nbsp;&nbsp;<%= payment.transaction_id + " - " + payment.transaction_type + " - " + payment.payee + " - " + payment.memo + " - " + payment.amount_str %>
    </p>
  </div>

  <script>$(".payment_content_button", "#payment_<%= payment.id %>").click(function() {toggle_info("payment", <%= payment.id %>)});</script>
<!-- payment <%= payment.id %> end -->
<% end %>

<p class="snapshots_footer">
  Total Rent Expected: <b><%= number_to_currency(total_rent, :unit => "$") %></b><br/>
  Total rent paid: <b><%= number_to_currency(@payments.sum(:amount), :unit => "$") %></b>
</p>
