<style type="text/css">
  .snapshot_content, .payment_content {
    display: none;
  }
  .snapshot, .payment {
    padding: 10px;
  }
</style>
<h1 class="text-primary"><%= @tenant.name %></h1>

<h3 class="text-primary">Rental Periods&nbsp;&nbsp;
  <span style="font-size: 12px;">&bull; <%= link_to("Add new rental snapshot", new_tenant_tenant_snapshot_path(@tenant)) %></span>
</h3>

<% total_rent = 0 %>
<% @sorted_snapshots.each do |snapshot| %>
  <% num_days = snapshot.length_in_days %>
  <% rent_expected = num_days * snapshot.weekly_rent/7 %>
  <% total_rent += rent_expected %>

<!-- snapshot <%= snapshot.id %> start -->
  <div class="snapshot" id="snapshot_<%= snapshot.id %>">
    <div class="snapshot_header">
      <b><%= snapshot.start_date.strftime('%a') %> <%= snapshot.start_date_str %> - <%= snapshot.end_date_str %></b>&nbsp;
      <i>(<%= num_days %> days)</i>&nbsp;&nbsp;
      <small><a class="snapshot_content_button">[display]</a></small>
    </div>

    <p class="snapshot_content">
      Property: <b><%= snapshot.property_snapshot.name %></b><br />
      Weekly Rent: <b><%= number_to_currency(snapshot.weekly_rent, :unit => "$") %></b><br />
      Total Rent Expected: <b><%= number_to_currency(rent_expected, :unit => "$") %></b>
    </p>
  </div>

  <script>$(".snapshot_content_button", "#snapshot_<%= snapshot.id %>").click(function() {display_item("snapshot", <%= snapshot.id %>)});</script>
<!-- snapshot <%= snapshot.id %> end -->

<% end %>

<h3 class="text-primary">Rental Payments</h3>

<% @payments.each do |payment| %>

<!-- payment <%= payment.id %> start -->
  <div class="payment" id="payment_<%= payment.id %>">
    <div class="payment_header">
      <%= payment.date.strftime('%a') %> <b><%= payment.date_str %></b>&nbsp;
      <i>(<%= payment.amount_str %>)</i>&nbsp;&nbsp;
      <small><a class="payment_content_button">[display]</a></small>
    </div>

    <p class="payment_content">
      &nbsp;&nbsp;<%= payment.transaction_id + " - " + payment.transaction_type + " - " + payment.payee + " - " + payment.memo + " - " + payment.amount_str %>
    </p>
  </div>

  <script>$(".payment_content_button", "#payment_<%= payment.id %>").click(function() {display_item("payment", <%= payment.id %>)});</script>
<!-- payment <%= payment.id %> end -->
<% end %>

<p class="snapshots_footer">
  Total Rent Expected: <b><%= number_to_currency(total_rent, :unit => "$") %></b><br/>
  Total rent paid: <b><%= number_to_currency(@payments.sum(:amount), :unit => "$") %></b>
</p>

<script>
function display_item(prefix, id) {
  var content_class = "." + prefix + "_content";
  var main = "#" + prefix + "_" + id;

  if ($(content_class, main).is(":hidden") ) {
    $(content_class, main).slideDown("slow");
    $(content_class + "_button", main).text("[hide]");
  } else {
    $(content_class, main).slideUp("slow");
    $(content_class + "_button", main).text("[display]");
  }
}
</script>
