<h3>Update Houses</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :houses, :url => update_multiple_houses_path, :method => "put" do |f| %>
      <% @houses.each do |h| %>
        <% @house = h %>
        <%= fields_for "houses[]", h do |hf| %>
          <% is_updated_id = "houses_" + h.id.to_s + "_is_updated" %>
          <%= hf.hidden_field(:is_updated, :value => 'false') %>
          <tr>
          <%# Consider replacing :onChange with data-update="true" javascript/coffeescript %>
            <td><%= hf.text_field(:name, :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %></td>
            <td><%= hf.text_field(:address, :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="2">
          <%= submit_tag("Update Houses") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /><br /><br />
<h3>Add new House</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th />
    </tr>
  </thead>
  <tbody>
    <%# Create final row with a form to add a new House to the inventory %>
    <%= form_tag(houses_path) do %>
      <% @house = nil %>
      <tr>
        <td><%= text_field(:house, :name) %></td>
        <td><%= text_field(:house, :address) %></td>
        <td><%= submit_tag("Add New House") %></td>
      </tr>
    <% end %>
  </tbody>
</table>