<h3>Update Properties</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :properties, :url => update_multiple_properties_path, :method => "put" do |f| %>
      <% @properties.each do |property| %>
        <% @property = property %>
        <%= fields_for "properties[]", property do |hf| %>
          <% is_updated_id = "properties_" + property.id.to_s + "_is_updated" %>
          <%= hf.hidden_field(:is_updated, :value => 'false') %>
          <tr>
          <%# Consider replacing :onChange with data-update="true" javascript/coffeescript %>
            <td><%= hf.text_field(:name, :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %></td>
            <td><%= hf.text_field(:address, :size => 50, :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="2">
          <%= submit_tag("Update Properties") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /><br /><br />
<h3>Add new Property</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th />
    </tr>
  </thead>
  <tbody>
    <%# Create final row with a form to add a new Property to the inventory %>
    <%= form_tag(properties_path) do %>
      <% @property = nil %>
      <tr>
        <td><%= text_field(:property, :name) %></td>
        <td><%= text_field(:property, :address, :size => 50) %></td>
        <td><%= submit_tag("Add New Property") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
