<h3>List of Transactions</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Paid by</th>
      <th>Bank Acc Id</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |tr| %>

      <% if tr.id % 2 == 1 %>
        <% bgcolor = "#ffffff" %>
      <% else %>
        <% bgcolor = "#f0f0f0" %>
      <% end %>

      <tr style="background-color:<%= bgcolor %>;">
        <td><%= tr.date %></td>
        <td><%= tr.tenant.nil? ? "" : link_to(tr.tenant.name, tenant_path(tr.tenant)) %></td>
        <td><%= tr.bank_account_id %></td>
        <td><%= tr.transaction_id %></td>
        <td><%= tr.transaction_type %></td>
        <td><%= tr.cheque_num %></td>
        <td><%= tr.payee %></td>
        <td><%= tr.memo %></td>
        <td><%= tr.amount_str %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add/Edit Transactions", edit_transactions_path %>
</p>