<h3 class="text-primary">List of Transactions&nbsp;&nbsp;
  <span style="font-size: 12px;"><a href="#importcsv">&bull; Import new transactions from CSV file</a></span>
</h3>
<br />

<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Date</th>
      <th>Payer/Payee</th>
      <th>Bank Acc Id</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%# Create rows of Transactions %>
    <%= form_for :transaction, :url => update_multiple_transactions_path, :method => "put" do |form| %>
      <% @transactions.each do |transaction| %>
        <%= fields_for "transactions[]", transaction do |transaction_form| %>
          <tr id="transaction_row_<%= transaction.id %>" class="transaction_row">
            <% is_updated_id = "transactions_" + transaction.id.to_s + "_is_updated" %>
            <td>
              <%# Checkbox %>
              <input id="checkbox_<%= transaction.id %>" class="checkbox" type="checkbox" onchange="toggle_edit(<%= transaction.id %>)" />
            </td>
            <td><%= transaction.date_str %></td>
            <td>
              <%# Tenant name (w/ link) / Tenant drop down box %>
              <%= transaction.tenant.nil? ? "" : link_to(transaction.tenant.name, tenant_path(transaction.tenant), class: "display") %><br />
              <%= transaction_form.collection_select(:tenant_id, Tenant.all, :id, :name, { include_blank: true}, class: "edit", :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %>

            </td>
            <td><%= transaction.bank_account_id %></td>
            <td><%= transaction.transaction_id %></td>
            <td><%= transaction.transaction_type %></td>
            <td><%= transaction.cheque_num %></td>
            <td><%= transaction.payee %></td>
            <td><%= transaction.memo %></td>
            <td><%= transaction.amount_str %></td>
            <td>
              <%# Hidden 'is_updated' field and Save button %>
              <%= transaction_form.hidden_field(:is_updated, :value => 'false') %>
              <button id="save_btn_<%= transaction.id %>" class="fa fa-floppy-o btn btn-sm btn-primary disabled" disabled></button>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br />
<h3 id="importcsv" class="text-primary">Import Transactions from a CSV file</h3>
<br />
<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <br />
  <%= submit_tag "Import CSV file" %>
<% end %>
<br />
