<h3 class="text-primary">List of Transactions</h3>
<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Date</th>
      <th>Paid by</th>
      <th>Bank Acc Id</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :transaction, :url => update_multiple_transactions_path, :method => "put" do |f| %>
      <% @transactions.each do |tr| %>
        <%= fields_for "transactions[]", tr do |tf| %>
          <tr id="row_<%= tr.id %>" class="main_row" style="font-size: 11px">
            <td><input id="checkbox_<%= tr.id %>" class="checkbox" type="checkbox" onchange="edit_row(<%= tr.id %>)" /></td>
            <td><%= tr.date_str %></td>
            <td>
              <%= tr.tenant.nil? ? "" : link_to(tr.tenant.name, tenant_path(tr.tenant), class: "tenant_link", id: "tenant_link_#{tr.id}") %>

              <% is_updated_id = "transactions_" + tr.id.to_s + "_is_updated" %>
              <%= tf.hidden_field(:is_updated, :value => 'false') %>
              <%= tf.collection_select(:tenant_id, Tenant.all, :id, :name, { include_blank: true}, class: "tenant_dropdown", id: "tenant_dropdown_#{tr.id}", style: "visibility:hidden", :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %>

            </td>
            <td><%= tr.bank_account_id %></td>
            <td><%= tr.transaction_id %></td>
            <td><%= tr.transaction_type %></td>
            <td><%= tr.cheque_num %></td>
            <td><%= tr.payee %></td>
            <td><%= tr.memo %></td>
            <td><%= tr.amount_str %></td>
            <td><button id="save_btn_<%= tr.id %>" class="btn btn-default disabled" disabled>Save</button></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add/Edit Transactions", edit_transactions_path %>
</p>

<script>
function edit_row(id) {
  if ( $("#save_btn_" + id).hasClass("disabled") ) {
    $("#save_btn_" + id).removeClass("disabled");
    $("#save_btn_" + id).prop("disabled", false);
    $("#save_btn_" + id).addClass("btn-primary");
    $("#tenant_link_" + id).css("visibility", "hidden");
    $("#tenant_dropdown_" + id).css("visibility", "visible");
    $(".main_row:not(#row_" + id + ")").css("opacity", "0.5");
    $(".checkbox:not(#checkbox_" + id + ")").prop("disabled", true);

  } else {
    $("#save_btn_" + id).addClass("disabled");
    $("#save_btn_" + id).prop("disabled", true);
    $("#save_btn_" + id).removeClass("btn-primary");
    $(".tenant_link").css("visibility", "visible");
    $(".tenant_dropdown").css("visibility", "hidden");
    $(".main_row:not(#row_" + id + ")").css("opacity", "1");
    $(".checkbox").prop("disabled", false);
  }
}
</script>