<h3>List of Transactions</h3>
<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Paid by</th>
      <th>Bank Acc Id</th>
      <th>Date</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |tr| %>
      <tr>
        <td><%= tr.tenant.nil? ? "" : tr.tenant.name %></td>
        <td><%= tr.bank_account_id %></td>
        <td><%= tr.date %></td>
        <td><%= tr.transaction_id %></td>
        <td><%= tr.transaction_type %></td>
        <td><%= tr.cheque_num %></td>
        <td><%= tr.payee %></td>
        <td><%= tr.memo %></td>
        <td><%= number_to_currency(tr.amount, :unit => "$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add/Edit Transactions", edit_transactions_path %>
</p>