<h3 class="text-primary">List of Transactions&nbsp;&nbsp;
  <span style="font-size: 12px;"><a href="#importcsv">&bull; Import new transactions from CSV file</a></span>
</h3>
<br />

<%= form_for :transaction, :url => update_multiple_transactions_path, :method => "put", :html => { :id => "update_transaction_form" } do |form| %><% end %>

<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Date</th>
      <th>Payer/Payee</th>
      <th>Bank Acc Id</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%# Create rows of Transactions %>
    <% tenant_snapshots = TenantSnapshot.includes(:tenant).all %>
    <% @transactions.each do |transaction| %>
      <%= fields_for "transactions[]", transaction do |transaction_form| %>

        <%# Build row to display transaction details %>
        <tr id="transaction_row_<%= transaction.id %>" class="transaction_row">
          <% is_updated_id = "transactions_" + transaction.id.to_s + "_is_updated" %>
          <td>
            <%# Checkbox %>
            <input form="update_transaction_form" id="checkbox_<%= transaction.id %>" class="checkbox" type="checkbox" onchange="toggle_edit(<%= transaction.id %>)" />
          </td>
          <td><%= transaction.date_str %></td>
          <td>
            <%# Tenant name (w/ link) / Tenant drop down box %>
            <%= transaction.tenant_snapshot.nil? ? "" : link_to(transaction.tenant_snapshot.name, tenant_tenant_snapshot_path(transaction.tenant_snapshot.tenant, transaction.tenant_snapshot), class: "display") %><br />

            <%# NEEDS CHANGING SO THAT TENANT_SNAPSHOTS ARE SELECTED!! %>
            <%= transaction_form.collection_select(:tenant_snapshot_id, tenant_snapshots, :id, :name, { include_blank: true}, class: "edit", :onchange=>"javascript: document.getElementById('#{is_updated_id}').value='true'".html_safe, form: "update_transaction_form") %>

          </td>
          <td><%= transaction.bank_account_id %></td>
          <td><%= transaction.transaction_id %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.cheque_num %></td>
          <td><%= transaction.payee %></td>
          <td><%= transaction.memo %></td>
          <td><%= transaction.amount_str %></td>
          <td>
            <%# is_updated flag gets set to true when a row is updated %>
            <%= transaction_form.hidden_field(:is_updated, :value => 'false', form: "update_transaction_form") %>
            <button form="update_transaction_form" type="submit" id="save_btn_<%= transaction.id %>" class="fa fa-floppy-o btn btn-sm btn-primary disabled" title="Save changes" disabled></button>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br />
<h3 id="importcsv" class="text-primary">Import Transactions from a CSV file</h3>
<br />
<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <br />
  <%= submit_tag "Import CSV file" %>
<% end %>
<br />

<script>
  //var highlight_color = 'rgba(255,220,100,200)';
  var highlight_color = 'rgba(100,220,100,200)';

  if($('.alert').hasClass('alert-success')) {
    highlight_color = 'rgba(100,220,100,200)';
  }

  $(/#transaction_row_\d+/.exec(document.location.toString())[0]).css('background', highlight_color);
</script>
