<h3 class="text-primary">List of Transactions</h3>
<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Date</th>
      <th>Paid by</th>
      <th>Bank Acc Id</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |tr| %>
      <tr id="row_<%= tr.id %>" class="mainRow" style="font-size: 11px">
        <td><input id="checkBox_<%= tr.id %>" class="checkbox" type="checkbox" onchange="edit_row(<%= tr.id %>)" /></td>
        <td><%= tr.date_str %></td>
        <td><%= tr.tenant.nil? ? "" : link_to(tr.tenant.name, tenant_path(tr.tenant)) %></td>
        <td><%= tr.bank_account_id %></td>
        <td><%= tr.transaction_id %></td>
        <td><%= tr.transaction_type %></td>
        <td><%= tr.cheque_num %></td>
        <td><%= tr.payee %></td>
        <td><%= tr.memo %></td>
        <td><%= tr.amount_str %></td>
        <td><button id="saveBtn_<%= tr.id %>" class="btn btn-default disabled">Save</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add/Edit Transactions", edit_transactions_path %>
</p>

<script>
function edit_row(id) {
  if ( $( "#saveBtn_" + id ).hasClass("disabled") ) {
    $( "#saveBtn_" + id ).removeClass("disabled");
    $( "#saveBtn_" + id ).addClass("btn-primary");
    $(".mainRow:not(#row_" + id + ")").css("opacity", "0.5");
    $(".checkbox:not(#checkBox_" + id + ")").prop("disabled", true);

  } else {
    $( "#saveBtn_" + id ).addClass("disabled");
    $( "#saveBtn_" + id ).removeClass("btn-primary");
    $(".mainRow:not(#row_" + id + ")").css("opacity", "1");
    $(".checkbox").prop("disabled", false);
  }
}
</script>