<h3 class="text-primary">List of Transactions&nbsp;&nbsp;
  <span style="font-size: 12px;"><a href="#importcsv">&bull; Import new transactions from CSV file</a></span>
</h3>
<br />

<table class="table table-hover table-condensed table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Date</th>
      <th>Payer/Payee</th>
      <th>Bank Acc Id</th>
      <th>Transaction Id</th>
      <th>Transaction Type</th>
      <th>Cheque Number</th>
      <th>Payee</th>
      <th>Memo</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :transaction, :url => update_multiple_transactions_path, :method => "put" do |f| %>
      <% @transactions.each do |tr| %>
        <%= fields_for "transactions[]", tr do |tf| %>
          <tr id="transaction_row_<%= tr.id %>" class="transaction_row" style="font-size: 11px">
            <% is_updated_id = "transactions_" + tr.id.to_s + "_is_updated" %>
            <td>
              <input id="checkbox_<%= tr.id %>" class="checkbox" type="checkbox" onchange="toggle_edit(<%= tr.id %>)" />
            </td>
            <td><%= tr.date_str %></td>
            <td>
              <%= tr.tenant.nil? ? "" : link_to(tr.tenant.name, tenant_path(tr.tenant), class: "display") %><br />
              <%= tf.collection_select(:tenant_id, Tenant.all, :id, :name, { include_blank: true}, class: "edit", style: "visibility:hidden", :onChange=>"javascript: document.getElementById('#{is_updated_id}').value='true'") %>

            </td>
            <td><%= tr.bank_account_id %></td>
            <td><%= tr.transaction_id %></td>
            <td><%= tr.transaction_type %></td>
            <td><%= tr.cheque_num %></td>
            <td><%= tr.payee %></td>
            <td><%= tr.memo %></td>
            <td><%= tr.amount_str %></td>
            <td>
              <%= tf.hidden_field(:is_updated, :value => 'false') %>
              <button id="save_btn_<%= tr.id %>" class="fa fa-floppy-o btn btn-sm btn-primary disabled" disabled></button>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br />
<h3 id="importcsv" class="text-primary">Import Transactions from a CSV file</h3>
<br />
<%= form_tag import_transactions_path, multipart: true do %>
  <%= file_field_tag :file %>
  <br />
  <%= submit_tag "Import CSV file" %>
<% end %>
<br />

<script>
function toggle_edit(id) {
  if ( $("#checkbox_" + id).prop("checked") ) {
    // WHEN A ROW IS SELECTED..

    // Enable save button
    $("#save_btn_" + id).removeClass("disabled")
                        .prop("disabled", false);

    // Hide the display fields and display the edit fields
    $(".display", "#transaction_row_" + id).css("visibility", "hidden");
    $(".edit", "#transaction_row_" + id).css("visibility", "visible");

    // Fade out unselected rows and disable the checkboxes
    $(".transaction_row:not(#transaction_row_" + id + ")").css("opacity", "0.5");
    $(".checkbox:not(#checkbox_" + id + ")").prop("disabled", true);

  } else {
    // WHEN A ROW IS DESELECTED..

    // Disable the save button
    $("#save_btn_" + id).addClass("disabled")
                        .prop("disabled", true);

    // Display the display fields and hide the edit fields
    $(".display", "#transaction_row_" + id).css("visibility", "visible");
    $(".edit", "#transaction_row_" + id).css("visibility", "hidden");

    // Fade back in all rows and enable the checkboxes
    $(".transaction_row").css("opacity", "1");
    $(".checkbox").prop("disabled", false);
  }
}
</script>